export(ell_KE)
export(ell_nome)
export(ell_jacobi)
export(ell_basis)
export(ell_moments)
export(ell_moment_var)
export(ell_transfer)
export(ell_dn2_moments)
export(dellvm)
export(rellvm)
export(ell_evm_moments)
export(fit_ellvm)
export(ell_exact_uniform)
export(ell_exact_ci)
export(ell_efficiency)
export(dprojell)
export(rprojell)
export(ell_eff_curve)
export(ell_kopt)
export(dprojfam)
export(rprojfam)
export(ell_projfam_eff)
export(ell_projfam_kopt)
export(ell_catalogue)
export(ell_joint)
export(ell_joint_sample)
export(ell_joint_uniform)
useDynLib(ellstat, .registration = TRUE)
